  .item-gif:hover {
      .inf {
          display: block;
          position:relative;
          top: 8px;
      }
  }

  .inf {
      display: none;
  }

  .tags {
      display: flex;

      pre {
          margin: 0 2px;
          padding: 2px;
          background: blanchedalmond;
          border-radius: 8px;
      }
  }

  .display-name {
      font-weight: bold;
      color: blue;
      margin-left: 4px;
  }

  .avatar{
    width: 16px;
    height: 16px;
    object-fit: cover;
    margin:0;
  }

  img,
  video {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
      border-radius: 10px;
  }

  #loading-bar-spinner.spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 19 !important;
      animation: loading-bar-spinner 400ms linear infinite;
  }

  #loading-bar-spinner.spinner .spinner-icon {
      width: 40px;
      height: 40px;
      border: solid 4px transparent;
      border-top-color: #00C8B1 !important;
      border-left-color: #00C8B1 !important;
      border-radius: 50%;
  }

  @keyframes loading-bar-spinner {
      0% {
          transform: rotate(0deg);
          transform: rotate(0deg);
      }

      100% {
          transform: rotate(360deg);
          transform: rotate(360deg);
      }
  }