
<div class="container">
    <pre>DVH-TuBe</pre>
    <div class="search">
        <input type="text" id="search" placeholder="Search..." autocomplete="off" autocapitalize="off"/>
        <button (click)="search()">Search</button>
    </div>
    <div class="main">
        <div class="main-video">
            <pre>{{listVideoYTube[0].id}}</pre>
            <div *ngIf="listVideoYTube && listVideoYTube[0].id">
                <youtube-player videoId={{idVideo}}></youtube-player>
            </div>
        </div>
        <div class="sub-video">
            <div *ngFor="let sub of listVideoYTube">
                <div  *ngIf="sub != listVideoYTube[0]">
                    <youtube-player videoId={{sub.id}}></youtube-player>
                </div>
            </div>
        </div>
    </div>
</div>
