<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://www.facebook.com/hieu.duong.bku"><i class="icon ion-social-facebook"></i></a>
            <a href="https://www.instagram.com/hieu.duong99/"><i class="icon ion-social-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UC0EVyFiwMAdBAmF4cau7sPA"><i class="icon ion-social-youtube"></i></a>
            <a href="https://www.linkedin.com/in/duonghieubku/"><i class="icon ion-social-linkedin"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="https://www.topcv.vn/p/hieu-duong-4299">Services</a></li>
            <li class="list-inline-item"><a href="https://www.topcv.vn/p/hieu-duong-4299">About</a></li>
            <li class="list-inline-item"><a href="https://www.topcv.vn/p/hieu-duong-4299">Terms</a></li>
            <li class="list-inline-item"><a href="https://www.topcv.vn/p/hieu-duong-4299">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Duong van Hieu © 2022</p>
    </footer>
</div>