<pre>HANDLE CRUD Realtime Database FIREBASE</pre>

<form [formGroup]="Rform">
  book_name: <input formControlName="book_name"  placeholder="Enter Name">
  isbn_10: <input formControlName="isbn_10" type="number" placeholder="Enter Name">
  author_name: <input formControlName="author_name" placeholder="Enter Name">
  <!-- publication_date: <input formControlName="publication_date"  placeholder="Enter Name"> -->
  in_stock: <input formControlName="in_stock"  placeholder="Enter Name">
  <!-- languages: <input formControlName="languages"  placeholder="Enter Name"> -->
</form>
<input type="number" id="id_update">
<button (click)="addBook(Rform.value)">create</button>
<button (click)="updateBook(1,Rform.value)">update</button>
<button (click)="deleteBook(1)">delete</button>


<button (click)="getBook(1)">get</button>
<button (click)="getBookList()">getlist</button>
<div *ngFor="let item of dbRealTimeBooks">
    <p>{{item.book_name}}</p>
</div>
<hr />
<br>

<pre>HANDLE STORAGE FIREBASE</pre>

<input type="file" (change)="selectFile($event)" />

<button [disabled]="!selectedFiles" (click)="upload()">
  Upload
</button>

<div *ngIf="currentFileUpload">
  <div>
    {{ percentage }}%
  </div>
</div>

<hr />
<pre>LIST FILE UPLOAD</pre>
<div class="card">
  <div class="card-header">List of Files</div>
  <ul class="list-group list-group-flush" *ngFor="let file of fileUploads">
    <li class="list-group-item">
      <a href="{{ file.url }}">{{ file.name }}</a>
      <button (click)="deleteFileUpload(file)" class="btn btn-danger btn-sm" style="float: right">
        Delete
      </button>
      <!-- <app-upload-details [fileUpload]='file'></app-upload-details> -->
    </li>
  </ul>
</div>

<pre>HANDLE Cloud Firestore FIREBASE</pre>

