/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main {
    iframe {
        width: 640px;
        height: 360px;
        border: 10px;
    }

    .sub-video {
        iframe {
        width: 320px;
        height: 180px;
        border: 10px;
        }
    }
}