/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* start youtube*/
.main {
    iframe {
        width: 640px;
        height: 360px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    iframe:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .sub-video {
        iframe {
            width: 210px;
            height: 118px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        iframe:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
    }
}

/* end youtube*/


/* start module dark-mode*/

body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
    pre{
        color: #dfe6e9;
    }
}

body.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;
    pre{
        color: #2d3436;
    }
}

/* end module dark-mode*/