.search {
    height: 100px;
    width: 70vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 100%;
}
button{
    border: none;
}